<app-navbar></app-navbar>
<section class="aboutUs">
  <div class="container">
    <div class="row">
      <div class="im col-md-5 animated fadeInLeft">
        <!-- <img src="../../assets/Images/manager.png" alt=""> -->

      </div>
      <div class="col-md-7 text-center animated fadeInRight">

            <h2>Our manager</h2>
            <P class="about">We have been operating for over 30 years and are
               Members of The Federation of Master Builders. We work on projects big
               and small. We are so happy with this theme. Everyday it make our lives better.</P>

      </div>



    </div>
    <div class="row"></div>

  </div>

</section>
<app-footer></app-footer>
