<app-navbar></app-navbar>

<div class="container">
<!-- <img class="img-fluid" src="{{article.urlToImage}}" alt="">
<h2>{{article.title}}</h2>
<h2>{{article.source.id}}</h2> -->

<div class="card mb-3 animated fadeIn">
    <img src="{{article.urlToImage}}" class="card-img-top" alt="..."/>
    <div class="card-body">
      <h3 class="card-title">{{article.title}}</h3>
      <h5 class="card-subTitle">{{article.description}}</h5>
      <p class="card-text"> {{article.content}}</p>
  </div>

</div>
</div>


<app-footer></app-footer>
