

.navbar.navbar-dark form .md-form input:hover:not([readonly]) {
  border-color: #384147;
}

.md-form input[type="text"]:not(.browser-default):focus:not([readonly]){
  border-bottom: 1px solid#384147;
  box-shadow: 0 1px 0 0 #384147;
}



